<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=reinhartproductimages;AccountKey=yZI6tpaik3W7jEzhHvLsBMwf9lug66INWBiu+OlAhV/JsGpaBgv6wfmi1yLAsMYHpEK3Dvrx2NgVjeCvfic6rQ==;"/>
  </appSettings>
</configuration>